# Importing the necessary dependencies

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Data collection and preprocessing

In [2]:
raw_df = pd.read_csv('C:/Users/Hemant/jupyter_codes/ML Project 1/Spam mail prediction/mail_data.csv')

In [3]:
raw_df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [4]:
# replace the null values with a null string
mail_data = raw_df.where((pd.notnull(raw_df)), '')

In [5]:
# PRINT THE FIRST 5 ROWS OF THE DATASET
mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
# shape of the dataset
mail_data.shape

(5572, 2)

Label Encoding

In [7]:
mail_data.replace({'Category' : {'ham' : 0, 'spam' : 1}}, inplace = True)

In [8]:
mail_data

      Category                                            Message
0            0  Go until jurong point, crazy.. Available only ...
1            0                      Ok lar... Joking wif u oni...
2            1  Free entry in 2 a wkly comp to win FA Cup fina...
3            0  U dun say so early hor... U c already then say...
4            0  Nah I don't think he goes to usf, he lives aro...
...        ...                                                ...
5567         1  This is the 2nd time we have tried 2 contact u...
5568         0               Will ü b going to esplanade fr home?
5569         0  Pity, * was in mood for that. So...any other s...
5570         0  The guy did some bitching but I acted like i'd...
5571         0                         Rofl. Its true to its name

[5572 rows x 2 columns]

Separating the features and labels

In [9]:
X = mail_data['Message']
Y = mail_data['Category']

In [10]:
print(X)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [11]:
print(Y)

0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: Category, Length: 5572, dtype: int64

Splitting the data into training and testing data

In [12]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = .2, stratify = Y, random_state = 2)

In [13]:
print(x_train.shape, x_test.shape)
print(y_train.shape, y_test.shape)

(4457,) (1115,)
(4457,) (1115,)

Feature extraction

In [14]:
# Transform the text data to feature vector that can be used as input
feature_extraction = TfidfVectorizer(min_df = 1, stop_words = 'english', lowercase = 'True')

In [15]:
x_train_features = feature_extraction.fit_transform(x_train)
x_test_features = feature_extraction.transform(x_test)

In [16]:
#converting the y_train and y-test as integers
y_train = y_train.astype('int')
y_test = y_test.astype('int')

In [17]:
print(x_train_features)

  (0, 2010)	0.19832877373922167
  (0, 2111)	0.12604809188195232
  (0, 2366)	0.13596858368909262
  (0, 4070)	0.10942895360863092
  (0, 5518)	0.2316496926325036
  (0, 5048)	0.6625954635560332
  (0, 1956)	0.44173030903735544
  (0, 1920)	0.2316496926325036
  (0, 3135)	0.11348430467691432
  (0, 2578)	0.21321340295490812
  (0, 5937)	0.1947771132773127
  (0, 6701)	0.15131260159017793
  (0, 2066)	0.2316496926325036
  (1, 4358)	0.46909811323167033
  (1, 5456)	0.6842437498161793
  (1, 4114)	0.4242562585988265
  (1, 4805)	0.3629932203770568
  (2, 2791)	0.35291632283354923
  (2, 3275)	0.219045164731788
  (2, 3384)	0.30174704574497613
  (2, 1353)	0.370148735718615
  (2, 3957)	0.3062249055442335
  (2, 4416)	0.2845146328599104
  (2, 5335)	0.3406897313143648
  (2, 3743)	0.25100491154391114
  :	:
  (4453, 6799)	0.44021473146824863
  (4453, 5180)	0.44021473146824863
  (4453, 1418)	0.35404770247824413
  (4453, 7279)	0.32136372886390163
  (4453, 1072)	0.26050854444934685
  (4453, 3073)	0.31461434258698556
  (4453, 5752)	0.26197372862610496
  (4453, 1877)	0.3291553235035902
  (4453, 4805)	0.19994301879201815
  (4454, 6723)	0.397459875985095
  (4454, 1751)	0.35321071657402264
  (4454, 4739)	0.3462371926754437
  (4454, 765)	0.32293036036704376
  (4454, 5295)	0.3189111582223359
  (4454, 1671)	0.397459875985095
  (4454, 4519)	0.2566185715730789
  (4454, 6180)	0.24101119232524562
  (4454, 5586)	0.2446142659447855
  (4454, 3135)	0.22282127451809483
  (4455, 3180)	1.0
  (4456, 2595)	0.5389251918016852
  (4456, 4573)	0.5389251918016852
  (4456, 2117)	0.5389251918016852
  (4456, 3197)	0.25365223527947717
  (4456, 4160)	0.25365223527947717

Model training:

Logistic regression

In [18]:
model =LogisticRegression()

In [19]:
model.fit(x_train_features, y_train)

LogisticRegression()

# Model evaluation

In [20]:
#on training data
training_prediction = model.predict(x_train_features)
#accuracy of the model
training_accuracy = accuracy_score(y_train, training_prediction)

print('ACCURACY OF THE MODEL ON TRAINING DATA : ', training_accuracy)

ACCURACY OF THE MODEL ON TRAINING DATA :  0.9672425398249944

In [21]:
#on testing data
testing_prediction = model.predict(x_test_features)
#accuracy of the model
testing_accuracy = accuracy_score(y_test, testing_prediction)

print('ACCURACY OF THE MODEL ON TESTING DATA : ', testing_accuracy)

ACCURACY OF THE MODEL ON TESTING DATA :  0.9605381165919282

# Building the predictive model

In [27]:
input_mail = ["SIX chances to win CASH! From 100 to 20,000 pounds txt> CSH11 and send to 87575. Cost 150p/day, 6days, 16+ TsandCs apply Reply HL 4 info"]

# convert text to feature vector
input_feature = feature_extraction.transform(input_mail)

#making prediction
prediction = model.predict(input_feature)
if prediction == 1:
    print('SPAM')
else:
    print('HAM')

SPAM